<section id="home" class="col-12">
      <article class="col-6">
              <h1>welcom to :(</h1>
              <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias beatae ipsa, expedita, perferendis repudiandae recusandae et unde voluptatibus asperiores sapiente, optio ducimus nulla similique! Doloremque voluptas quod voluptate, provident porro ex accusantium ipsum unde, in velit laborum! Neque vel id fuga molestias odit pariatur non veniam, quisquam facere. Iure, voluptatibus!
              </p>
      </article>
</section>
