#home{
    min-height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    article{
        height: 250px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        p{
            text-align: center;
        }
    }
}
